# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environments
.venv/
venv/

# Django
backend/collected_static/

# Node
node_modules/
frontend/node_modules/

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.*
!.env.example
