{% extends "organisms/dashboard_layout.html" %}
{% load static %}
{% block dashboard_content %}
<h1 class="text-2xl font-bold text-indigo-700 mb-4">Manage Subjects</h1>

<div class="flex justify-end mb-3">
  <button data-modal="subjectModal" class="open-modal px-4 py-2 bg-indigo-600 text-white rounded-lg">+ Add Subject</button>
</div>

{% include "molecules/table.html" with id="subjectsTable" headers="['Code','Title','Units','Type','Course','Prerequisites']" %}
{% include "molecules/form_modal.html" with id="subjectModal" title="Add Subject" %}

<script src="{% static 'js/dean_subjects.js' %}"></script>
{% endblock %}
