{% with card_title=title|default:"" card_subtitle=subtitle|default:"" card_classes=classes|default:"" card_padding=padding|default:"md" card_shadow=shadow|default:True %}

{% if card_padding == 'sm' %}
   {% with padding_class="p-4" %}{% include 'components/molecules/card_inner.html' %}{% endwith %}
{% elif card_padding == 'lg' %}
   {% with padding_class="p-8" %}{% include 'components/molecules/card_inner.html' %}{% endwith %}
{% else %}
   {% with padding_class="p-6" %}{% include 'components/molecules/card_inner.html' %}{% endwith %}
{% endif %}

{% endwith %}
