<div class="mb-4">
   {% include 'components/atoms/label.html' with text=label for_id=name required=required %}

   {% if type == 'select' and options %}
      {% include 'components/atoms/select.html' with name=name options=options selected=value required=required disabled=disabled %}
   {% elif type == 'textarea' %}
      {% include 'components/atoms/textarea.html' with name=name placeholder=placeholder value=value rows=rows|default:"4" required=required disabled=disabled %}
   {% else %}
      {% include 'components/atoms/input.html' with name=name type=type placeholder=placeholder value=value required=required disabled=disabled autocomplete=autocomplete %}
   {% endif %}

   {% if error %}
   <p class="mt-1 text-sm text-red-600">{{ error }}</p>
   {% endif %}

   {% if help_text %}
   <p class="mt-1 text-sm text-gray-500">{{ help_text }}</p>
   {% endif %}
</div>
